{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}AutoDrive — {% trans "О нас" %}{% endblock %}

{% block content %}
<div class="about-first-block">
    <h1>О НАС</h1>
</div>

<div class="about-second-block">
    <h1>О НАС</h1>
    <img src="{% static 'main/img/people/people_1234.svg' %}" alt="">
    <div class="text-block">
        <p>Академия AutoDrive предлагает инновационный подход к обучению вождению, который охватывает широкий спектр знаний и навыков, полностью подготавливающих наших учеников к самостоятельному вождению. Наши проверенные методы соответствуют современным требованиям и сосредоточены на актуальных проблемах и факторах риска, с которыми сталкиваются водители сегодня. </p>
        <p>Академия AutoDrive подходит для водителей любого уровня — от начинающих до тех, кто хочет освежить свои навыки. Мы подбираем обучение в соответствии с вашими потребностями. Наша цель — дать вам необходимые навыки, уверенность и осознанность, чтобы вы могли безопасно продолжать свой путь за рулём.</p>
    </div>
</div>

<div class="about-third-block">
    <div class="left-block">
        <h1>Наша Миссия</h1>
        <p>Мы стремимся повлиять на как можно большее количество людей, чтобы они стали лучшими водителями, какими только могут быть. Наши инструкторы постоянно ищут новые и более эффективные методы обучения. Каждый сотрудник компании старается делать процесс обучения лучше с каждым днём.</p>
    </div>
    <div class="right-block">
        <h1>Наша Цель</h1>
        <p>Наша цель - обеспечить безопасность повседневных водителей и сделать Молдову более безопасным и эффективным местом для вождения. Мы стремимся предоставлять обучение вождению на самом высоком уровне. Нет ничего приятнее, чем видеть улыбки наших учеников после успешной сдачи ими дорожного теста.</p>
    </div>
</div>


{% endblock %}
