{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}AutoDrive — {% trans "О нас" %}{% endblock %}

{% block content %}
<div class="about-first-block">
    <h1>{% trans "О НАС" %}</h1>
</div>

<div class="about-second-block">
    <img src="{% static 'main/img/people/people_1234.svg' %}" alt="">
    <div class="text-block">
        <h1>{% trans "О" %} <span style="color: #FF9924">{% trans "НАС" %}</span></h1>
        <p>{% blocktrans %}Академия <span style="color: #FF9924">AutoDrive</span> предлагает инновационный подход к обучению вождению, который охватывает широкий спектр знаний и навыков, полностью подготавливающих наших учеников к самостоятельному вождению. Наши проверенные методы соответствуют современным требованиям и сосредоточены на актуальных проблемах и факторах риска, с которыми сталкиваются водители сегодня.{% endblocktrans %}</p>
        <p>{% blocktrans %}Академия <span style="color: #FF9924">AutoDrive</span> подходит для водителей любого уровня — от начинающих до тех, кто хочет освежить свои навыки. Мы подбираем обучение в соответствии с вашими потребностями. Наша цель — дать вам необходимые навыки, уверенность и осознанность, чтобы вы могли безопасно продолжать свой путь за рулём.{% endblocktrans %}</p>
    </div>
</div>

<div class="about-third-block">
    <div class="left-block">
        <h1>{% trans "Наша" %} <span style="color: #FF9924; font-weight: 600;">{% trans "Миссия" %}</span></h1>
        <p>{% trans "Мы стремимся повлиять на как можно большее количество людей, чтобы они стали лучшими водителями, какими только могут быть. Наши инструкторы постоянно ищут новые и более эффективные методы обучения. Каждый сотрудник компании старается делать процесс обучения лучше с каждым днём." %}</p>
    </div>
    <div class="right-block">
        <h1>{% trans "Наша" %} <span style="color: #FF9924; font-weight: 600;">{% trans "Цель" %}</span></h1>
        <p>{% trans "Наша цель - обеспечить безопасность повседневных водителей и сделать Молдову более безопасным и эффективным местом для вождения. Мы стремимся предоставлять обучение вождению на самом высоком уровне. Нет ничего приятнее, чем видеть улыбки наших учеников после успешной сдачи ими дорожного теста." %}</p>
    </div>
</div>

<div class="about-fourth-block">
    <div class="first-about-fourth-block-block">
        <h1>{% trans "Почему" %} <span style="color: #FF9924">{% trans "Выбирают Нас?" %}</span></h1>
    </div>
    <div class="second-about-fourth-block-block">

        <div class="comments-block swiper">
            <div class="card-wrapper">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                <ul class="card-list swiper-wrapper">
                    <li class="card-item swiper-slide">
                        <div class="card-link">
                            <div class="first-block">
                                <img src="{% static 'main/img/people/people_1.svg' %}" alt="">
                            </div>
                            <div class="second-block">
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "ФИО" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович Роман{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Опыт вождения" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}9 лет{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Специализация" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Подготовка к экзаменам, вождение на трассе{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Описание" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович — эксперт в подготовке к дорожным тестам и обучении безопасному вождению на трассе. За годы работы разработал эффективные индивидуальные программы для каждого ученика. Проходил стажировку в международной школе безопасного вождения. Его уроки дают ученикам уверенность, системное понимание правил и навыки безопасного реагирования в сложных дорожных ситуациях.{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-images-block">
                                    <img style="background-color: #c5f3c885;" src="{% static 'main/img/people/sm_people_1.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_2.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_3.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_4.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="card-link">
                            <div class="first-block">
                                <img src="{% static 'main/img/people/people_2.svg' %}" alt="">
                            </div>
                            <div class="second-block">
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "ФИО" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович Роман{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Опыт вождения" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}9 лет{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Специализация" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Подготовка к экзаменам, вождение на трассе{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Описание" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович — эксперт в подготовке к дорожным тестам и обучении безопасному вождению на трассе. За годы работы разработал эффективные индивидуальные программы для каждого ученика. Проходил стажировку в международной школе безопасного вождения. Его уроки дают ученикам уверенность, системное понимание правил и навыки безопасного реагирования в сложных дорожных ситуациях.{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-images-block">
                                    <img src="{% static 'main/img/people/sm_people_1.svg' %}" alt="">
                                    <img style="background-color: #f3cac585;"src="{% static 'main/img/people/sm_people_2.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_3.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_4.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="card-link">
                            <div class="first-block">
                                <img src="{% static 'main/img/people/people_3.svg' %}" alt="">
                            </div>
                            <div class="second-block">
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "ФИО" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович Роман{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Опыт вождения" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}9 лет{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Специализация" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Подготовка к экзаменам, вождение на трассе{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Описание" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович — эксперт в подготовке к дорожным тестам и обучении безопасному вождению на трассе. За годы работы разработал эффективные индивидуальные программы для каждого ученика. Проходил стажировку в международной школе безопасного вождения. Его уроки дают ученикам уверенность, системное понимание правил и навыки безопасного реагирования в сложных дорожных ситуациях.{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-images-block">
                                    <img src="{% static 'main/img/people/sm_people_1.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_2.svg' %}" alt="">
                                    <img style="background-color: #f3c5f385;"src="{% static 'main/img/people/sm_people_3.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_4.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="card-item swiper-slide">
                        <div class="card-link">
                            <div class="first-block">
                                <img src="{% static 'main/img/people/people_4.svg' %}" alt="">
                            </div>
                            <div class="second-block">
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "ФИО" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович Роман{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Опыт вождения" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}9 лет{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Специализация" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Подготовка к экзаменам, вождение на трассе{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-text-block">
                                    <h1>{% trans "Описание" %}</h1>
                                    <div class="cv-line"></div>
                                    <p class="card-title">{% blocktrans %}Сергей Александрович — эксперт в подготовке к дорожным тестам и обучении безопасному вождению на трассе. За годы работы разработал эффективные индивидуальные программы для каждого ученика. Проходил стажировку в международной школе безопасного вождения. Его уроки дают ученикам уверенность, системное понимание правил и навыки безопасного реагирования в сложных дорожных ситуациях.{% endblocktrans %}</p>
                                </div>
                                <div class="cv-second-block-images-block">
                                    <img src="{% static 'main/img/people/sm_people_1.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_2.svg' %}" alt="">
                                    <img src="{% static 'main/img/people/sm_people_3.svg' %}" alt="">
                                    <img style="background-color: #f3e4c585;" src="{% static 'main/img/people/sm_people_4.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </div>
</div>

<footer>
    <div class="left-block">
        <h1>{% trans "Наши соц-сети:" %}</h1>
        <div>
            <img src="{% static 'main/img/socials/tt.svg' %}" alt="">
            <img src="{% static 'main/img/socials/yt.svg' %}" alt="">
            <img src="{% static 'main/img/socials/fb.svg' %}" alt="">
            <img src="{% static 'main/img/socials/is.svg' %}" alt="">
            <img src="" alt="">
        </div>
        <p class="autors">© 2025 Mitsuhano & Arbuzzzio — Design & Development</p>
    </div>
    <div class="center-block">
        <img src="{% static 'main/img/footer-logo.svg' %}" alt="">
    </div>
    <div class="right-block">
        <form class="feedback-form" action="{% url 'mailgun:send_feedback' %}" method="post">
            {% csrf_token %}
            <div class="first-block">
                <h1>{% trans "Обратная связь:" %}</h1>
                <input name="email" placeholder="{% trans 'Email...' %}" type="email" required>
                <button type="submit" class="lg-button">{% trans "Отправить" %}</button>
            </div>
            <div class="second-block">
                <textarea name="message" required placeholder="{% blocktrans %}Опишите что вас интересует и администрация автошколы ответит вам в ближайшее время...{% endblocktrans %}"></textarea>
            </div>
        </form>
    </div>
</footer>
{% endblock %}
