{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}AutoDrive — {% trans "Контакты" %}{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>{% trans "Задавайте любые интересующие вас вопросы!" %}</h1>
    
    <div class="table-block">
        <div class="first-block">
            <div class="contact-socials-block">
                <h2>{% trans "Пишите нам" %} <br>{% trans "в соц-сети:" %}</h2>
                <div class="contact-socials">
                    <div>
                        <a href="#"><img src="{% static 'main/img/socials/is.svg' %}" alt="Instagram"></a>
                        <a href="#"><img src="{% static 'main/img/socials/fb.svg' %}" alt="Facebook"></a>
                        <a href="#"><img src="{% static 'main/img/socials/tt.svg' %}" alt="Twitter"></a> <br>
                    </div>
                        <a href="#"><img src="{% static 'main/img/socials/yt.svg' %}" alt="Telegram"></a>
                </div>
            </div>
            <div class="contact-email-feedback-block">
                <h2>{% trans "Обратная связь по почте:" %}</h2>
                <div class="contact-feedback-form">
                    <form class="input-feedback-form" action="{% url 'mailgun:send_feedback' %}" method="post">
                        {% csrf_token %}
                        <div style="display: flex; flex-direction: column; gap: 25px;">
                            <input name="email" placeholder="{% trans 'Email...' %}" type="email" required>
                            <button type="submit" class="lg-button">{% trans "Отправить" %}</button>
                        </div>
                        <textarea name="message" required placeholder="{% blocktrans %}Опишите что вас интересует и администрация автошколы ответит вам в ближайшее время...{% endblocktrans %}"></textarea>
                    </form>
                </div>
            </div>
        </div>
        <div class="second-block">
            <div class="contact-number-block">
                <h2>{% trans "Клиентский Отдел:" %}</h2>
                <div class="contact-number">
                    <p>+373 69 123 456</p>
                    <div class="contact-copy-btn"></div>
                </div>    
            </div>
            <div class="contact-number-block">
                <h2>{% trans "Тех. поддержка:" %}</h2>
                <div class="contact-number">
                    <p>+373 79 987 654</p>
                    <div class="contact-copy-btn"></div>
                </div>
            </div>
        </div>
    </div>


    <p class="autors">© 2025 Mitsuhano & Arbuzzzio — Design & Development</p>
</div>
{% endblock %}
