{% extends "main/index.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Главная страница" %}{% endblock %}

{% block content %}

    <div class="image-block-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/static/main/img/home-backgr-1.png');">
        <div class="text-block">
            <h1>Академия вождения</h1>
            <p>Станьте профеcсиональным водителем <br> вместе с <span class="AutoDrive">AutoDrive</span>!</p>
        </div>
        <div class="button-block">
            <a href="{% url 'booking' %}?active_page=booking">Индивидуальные уроки</a>
            <a href="{% url 'booking' %}?active_page=booking">Курсы по вождению</a>
        </div>
    </div>

    <div class="why-we-block">
        <div class="infinite-line-block">
            <img style="height: 250px" src="{% static 'main/img/infinite-line/stolb.png' %}" alt="">
            <div class="carousel">

                <div class="group">
                        <img class="card" src="{% static 'main/img/infinite-line/1.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/2.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/3.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/4.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/5.png' %}" alt="">
                </div>
                <div aria-hidden class="group">
                        <img class="card" src="{% static 'main/img/infinite-line/1.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/2.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/3.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/4.png' %}" alt="">
                        <img class="card" src="{% static 'main/img/infinite-line/5.png' %}" alt="">
                </div>

            </div>
            <img style="height: 250px" src="{% static 'main/img/infinite-line/stolb.png' %}" alt="">
        </div>
        <h1>ПОЧЕМУ МЫ?</h1>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

    <div class="image-block-2">

    </div>

    <div class="students-say">

    </div>

    <div class="comments-block">

    </div>
{% endblock %}
