{% extends "main/index.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Главная страница" %}{% endblock %}

{% block content %}

    <div class="image-block-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/static/main/img/home-backgr-1.png');">
        <div class="text-block">
            <h1>Академия вождения</h1>
            <p>Станьте профеcсиональным водителем <br> вместе с <span class="AutoDrive">AutoDrive</span>!</p>
        </div>
        <div class="button-block">
            <a href="{% url 'booking' %}?active_page=booking">Индивидуальные уроки</a>
            <a href="{% url 'booking' %}?active_page=booking">Курсы по вождению</a>
        </div>
    </div>

    <div class="why-we-block">
        <div class="infinite-line-block">
            <img style="z-index: 5; height: 350px; position: absolute; top: 20px;" src="{% static 'main/img/infinite-line/stolb.png' %}" alt="">
            <div class="carousel">
                <div class="group">
                    <div class="card">
                        <img class="card-image" src="{% static 'main/img/infinite-line/1.svg' %}" alt="">
                        <img class="card-btn" src="{% static 'main/img/btns/go-to-btn.svg' %}" alt="">
                        <p>ПОДГОТОВКИ К ДОРОЖНОМУ ТЕСТУ</p>
                    </div>
                    <div class="card">
                        <img class="card-image" src="{% static 'main/img/infinite-line/2.svg' %}" alt="">
                        <img class="card-btn" src="{% static 'main/img/btns/go-to-btn.svg' %}" alt="">
                        <p>КУРС ЗАЩИТНОГО ВОЖДЕНИЯ</p>
                    </div>
                    <div class="card">
                        <img class="card-image" src="{% static 'main/img/infinite-line/3.svg' %}" alt="">
                        <img class="card-btn" src="{% static 'main/img/btns/go-to-btn.svg' %}" alt="">
                        <p>ДОСТУП К МАТЕРИАЛАМ ДЛЯ САМООБУЧЕНИЯ</p>
                    </div>
                    <div class="card">
                        <img class="card-image" src="{% static 'main/img/infinite-line/4.svg' %}" alt="">
                        <img class="card-btn" src="{% static 'main/img/btns/go-to-btn.svg' %}" alt="">
                        <p>УРОКИ ВОЖДЕНИЯ</p>
                    </div>
                    <div class="card">
                        <img class="card-image" src="{% static 'main/img/infinite-line/5.svg' %}" alt="">
                        <img class="card-btn" src="{% static 'main/img/btns/go-to-btn.svg' %}" alt="">
                        <p>ПАКЕТЫ ЗАНЯТИЙ ПО ВОЖДЕНИЮ</p>
                    </div>
                </div>
            </div>
            <img style="height: 350px; position: absolute; right: 0; top: 20px;" src="{% static 'main/img/infinite-line/stolb.png' %}" alt="">
        </div>

        <h1>ПОЧЕМУ МЫ?</h1>
    </div>

    <div class="image-block-2">
        <div class="cards-block">
          <div class="card">
            <img class="card-icon" src="{% static 'main/img/kalendar.svg' %}" alt="kalendar">
            <div class="card-text">
              <h3>ГИБКОЕ</h3>
              <h1>РАСПИСАНИЕ</h1>
            </div>
          </div>

          <div class="card">
            <img class="card-icon" src="{% static 'main/img/exp.svg' %}" alt="exp">
            <div class="card-text">
              <h3>БЕЗУПРЕЧНОЕ</h3>
              <h1>ОБУЧЕНИЕ</h1>
            </div>
          </div>

          <div class="card">
            <img class="card-icon" src="{% static 'main/img/pass_rate.svg' %}" alt="pass_rate">
            <div class="card-text">
              <h3>ВЫСОКИЙ</h3>
              <h1>ПРОЦЕНТ СДАЧИ</h1>
            </div>
          </div>
        </div>

        <p>Наша цель — обучить водителей навыкам, необходимым для уверенности, внимательности и защитного стиля вождения. Безопасность на дороге на протяжении всей жизни — наш главный приоритет.</p>

        <div class="lg-buttons">
            <div class="lg-button">Остались вопросы?</div>
            <div class="lg-button">Записаться на курс</div>
        </div>

        <div class="students-say">
            <h1>Наши <span style="color: #FFBB00">Студенты Говорят</span></h1>
        </div>
    </div>


    <div class="comments-block">

    </div>
{% endblock %}
