# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.pot
*.py,cover

# Environment
.env
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Migrations cache
*/migrations/__pycache__/

# Build
build/
dist/
