/* ===========================
   BASE SCSS RESET
   =========================== */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* *,
* *::before,
* *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
* ul,
* ol {
  list-style: none;
}
* a {
  text-decoration: none;
  color: inherit;
}
* table {
  border-collapse: collapse;
  border-spacing: 0;
}
* article,
* aside,
* details,
* figcaption,
* figure,
* footer,
* header,
* hgroup,
* main,
* menu,
* nav,
* section {
  display: block;
}
* body {
  line-height: 1;
}
* blockquote,
* q {
  quotes: none;
}
* button,
* input,
* select,
* textarea {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
* html,
* body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
* html {
  height: 100%;
}
* main {
  width: 100%;
  height: 100%;
  max-width: 2560px;
}

/* ===========================
   VARIABLES
   =========================== */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
/* ===========================
   NAVIGATION
   =========================== */
nav {
  font-family: "Inter", sans-serif;
  position: fixed;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 90px;
  background-color: white;
  border-bottom: 4px solid #FF9924;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}
nav .logo-block {
  flex: 1;
  display: flex;
  align-items: center;
}
nav .logo-block img {
  margin-left: 25px;
  height: 75px;
}
nav .nav-block {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
nav .nav-block .navigation {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}
nav .nav-block .navigation a {
  overflow: visible;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  max-height: 52px;
  font-weight: 600;
}
nav .nav-block .navigation a.is-active {
  background-color: #FF9924;
  font-weight: bold;
  color: white;
}
nav .nav-block .language-changer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 120px;
}
nav .nav-block .language-changer form {
  border: 1px solid;
  padding: 5px;
  border-radius: 20px;
}
nav .nav-block .language-changer p {
  color: #949494;
}

.navigation-compensator {
  position: relative;
  width: 100%;
  height: 90px;
}

.AutoDrive {
  color: #FF9924;
}

/* ===========================
   BODY
   =========================== */
body {
  font-family: "Inter", sans-serif;
}

.image-block-1 {
  display: flex;
  width: 100%;
  height: 708px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Jura", sans-serif;
}
.image-block-1 .text-block {
  width: auto;
  flex: 2;
  color: white;
  padding: 8% 0 0 13%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.image-block-1 .text-block h1 {
  font-size: 80px;
  color: #FF9924;
  font-weight: 600;
}
.image-block-1 .text-block p {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
}
.image-block-1 .button-block {
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
  justify-content: center;
  padding-bottom: 150px;
  gap: 20px;
}
.image-block-1 .button-block a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27px;
  font-size: 22px;
  font-weight: 600;
  width: 300px;
  height: 54px;
  background-color: #FFD261;
}

.why-we-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/why-we-back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 577px;
  width: 100%;
}
.why-we-block .infinite-line-block {
  width: 90%;
  position: absolute;
  justify-self: center;
  top: -23%;
  height: 354px;
  display: flex;
  align-items: center;
}
.why-we-block .infinite-line-block .carousel {
  display: flex;
  scrollbar-width: none;
  overflow-x: auto;
}
.why-we-block .infinite-line-block .carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.why-we-block .infinite-line-block .carousel .group {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 15s infinite linear;
  height: 390px;
}
.why-we-block .infinite-line-block .carousel .group .card {
  margin-right: 10px;
  height: 290px;
  width: 335px;
  font-size: 3rem;
  position: relative;
  overflow: visible;
}
.why-we-block .infinite-line-block .carousel .group .card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.why-we-block .infinite-line-block .carousel .group .card .card-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.why-we-block .infinite-line-block .carousel .group .card p {
  position: relative;
  color: white;
  top: 175px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  z-index: 4;
}
.why-we-block h1 {
  display: flex;
  align-items: end;
  height: 84%;
  color: #FFDAAF;
  font-size: 200px;
  font-weight: 900;
  overflow: hidden;
}

.image-block-2 {
  position: relative;
  height: 770px;
  width: 100%;
  background-image: url("../img/main-about-block-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-block-2 .cards-block {
  position: absolute;
  top: -82px;
  width: 100%;
  padding: 0 18%;
  display: flex;
  justify-content: space-around;
}
.image-block-2 .cards-block .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.image-block-2 .cards-block .card .card-icon {
  width: 165px;
  height: 165px;
}
.image-block-2 .cards-block .card .card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 22px;
  color: white;
}
.image-block-2 .cards-block .card .card-text h3 {
  font-size: 24px;
  font-weight: 900;
}
.image-block-2 .cards-block .card .card-text h1 {
  font-size: 40px;
  font-weight: 600;
  color: #FFBB00;
}
.image-block-2 p {
  position: relative;
  top: 240px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: "Jura", sans-serif;
}
.image-block-2 .lg-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 20px;
  top: 380px;
}
.image-block-2 .lg-buttons .lg-button {
  display: flex;
  width: 300px;
  height: 54px;
  border-radius: 27px;
  justify-content: center;
  align-items: center;
  font-family: "Jura", sans-serif;
  font-size: 22px;
  font-weight: 600;
  background-color: #FFD261;
}
.image-block-2 .students-say {
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 64px;
  bottom: 10;
  background-color: #634C00;
  border-radius: 24px;
}

/*# sourceMappingURL=style.css.map */
